<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
       xmlns="http://www.w3.org/1999/xhtml"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{client/base.html}">
<head>
    <title layout:fragment="title">Birth Certificate Registration | WESAGN KUNET</title>
</head>

<body>
    <main layout:fragment="main" class="container-fluid col-11">
        <h1>Birth Registration</h1>
        <p>Short paragraph: Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat omnis consectetur repellat volupt</p>
        
               
        <form class="local-mb-7  mt-5" action="" method="POST" enctype="multipart/form-data" th:object="${birthRegistrationForm}">
            <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
        
        <div class="my-5" th:with="section='child'" layout:insert="~{client/registration/components/form_accordion.html}">
             <div layout:fragment="accordionHeading">Child Information</div>
            <div layout:fragment="accordionBody" th:with="includeHouseNumber=false">

                <!--line1-->
            <div class="d-block w-100 d-md-flex">

               
            <div class="form-group row  w-75  m-auto">
                <!-- col 1 -->
                    <div class="col">
                        <!-- row 1 -->
                        <label for="childName" class="form-label mt-2" >Child's Name</label>
                        <input type="text"
                                id="childName"
                            class="form-control "
                            th:field="*{child.fullName.firstName}"
                            placeholder="First Name"
                            required
                            
                        > 
                        <div th:if="${#fields.hasErrors('child.fullName.firstName')}" class="text-danger" th:errors="*{child.fullName.firstName}"></div>
                    <!-- row 2 -->
                        <label for="dateOfBirth" class="form-label mt-2">Date Of Birth</label>
                        <input type="date"
                                id="dateOfBirth"
                            class="form-control "  
                            th:field="*{child.dateOfBirth}"
                            placeholder="Date Of Birth"
                            required
                        > 
                        <div th:if="${#fields.hasErrors('child.dateOfBirth')}" class="text-danger" th:errors="*{child.dateOfBirth}"></div>
                    <!-- row 3 -->

                   
                    
                        <!-- row 4 -->

                    <label for="wereda" class="form-label mt-2">Wereda</label>
                        <input type="text"
                               id="wereda"     
                        class="form-control"
                        th:field="*{child.birthAddress.wereda}"
                        placeholder="wereda"
                        required
                        >
                        <div th:if="${#fields.hasErrors('child.birthAddress.wereda')}" class="text-danger" th:errors="*{child.birthAddress.wereda}"></div>

                        <label class="form-label mt-2" for="country">Country</label>
                        <select  name="child.birthAddress.country" class="custom-select"  id="country" required>
                            <option value="">Select</option>
                            <div th:remove="tag" th:each="country: ${countries}">
								<option th:value="${country.id}" th:text="${country.name}" th:if="${country.name}!='Ethiopia'"></option>
								<option th:value="${country.id}" th:text="${country.name}" th:if="${country.name}=='Ethiopia'" selected></option>
							</div>
                        </select>
                        <div th:if="${#fields.hasErrors('child.birthAddress.country')}" class="text-danger" th:errors="*{child.birthAddress.country}"></div>
                    

                    </div>
            </div> 

            


         <!-- col 2 -->
                <div class="form-group row m-auto w-75">

               
                <div class="col">
                    <!--row 1-->
                    <label for="fatherName" class="form-label mt-2">Father's Name</label>
                    <input type="text"
                           id="fatherName"
                           class="form-control " 
                           th:field="*{child.fullName.middleName}"
                           placeholder="Last Name"
                           required
                    >
                    <div th:if="${#fields.hasErrors('child.fullName.middleName')}" class="text-danger" th:errors="*{child.fullName.middleName}"></div>
                    <!--row 2-->

                    <label for="sex" class="form-label mt-2">Sex</label>
						<select class="custom-select form-control" aria-label="Sex" th:field="*{child.sex}" required>
							<option value="" selected>Select</option>
							<option th:each="sex: ${sexes}" th:value="${sex}" th:text="${sex}"></option>
						  </select>
                    <div th:if="${#fields.hasErrors('child.sex')}" class="text-danger" th:errors="*{client.sex}" ></div>

                    <!-- row 3 -->
                    <label class="form-label mt-2" for="city">City</label>
                    <input type="text"
                           id="city" 
                           class="form-control" 
                           th:field="*{child.birthAddress.city}" 
                           placeholder="City"
                           required
                    >
                    <div th:if="${#fields.hasErrors('child.birthAddress.city')}" class="text-danger" th:errors="*{child.birthAddress.city}"></div>
                
                    <!--row 4-->
                    <label for="nationalityC" class="form-label mt-2">Nationality</label>
                    <select  name="child.nationality" class="custom-select"  id="nationalityC" required>
                        <option value="">Select</option>
                        <div th:remove="tag" th:each="nationality: ${nationalities}" th:object="${nationality}">
                            <option th:value="*{id}" th:text="*{name}" th:if="*{name}!='Ethiopian'"></option>
                            <option th:value="*{id}" th:text="*{name}" th:if="*{name}=='Ethiopian'" selected></option>
                        </div>
                        <option th:each="nationality: ${nationalities}" th:value="${nationality.id}" th:if="${nationality.name} == 'Ethiopian'" selected>[[${nationality.name}]]</option>
                    </select>
            <div th:if="${#fields.hasErrors('father.nationality')}" class="text-danger" th:errors="*{father.nationality}"></div>
                    
                </div>
            </div>
            
                <!-- col 3 -->


                <div class="form-group row mb-auto  w-75">

                
                <div class="col">
                    <!-- row 1 -->
                    <label for="grandFatherName" class="form-label mt-2">Grand Father's Name</label>
                    <input type="text"
                           id="grandFatherName"
                           class="form-control "
                           th:field="*{child.fullName.lastName}"
                           placeholder="Grand Father's Name"
                           required 
                    >
                    <div th:if="${#fields.hasErrors('child.fullName.lastName')}" class="text-danger" th:errors="*{child.fullName.lastName}"></div>


                    <!-- row 2 -->
                    <label for="photo" class="form-label mt-2">Portrait Photo</label>
                    <input type="file" class="form-control" th:field="*{child.photo}" required>
                    <div th:if="${#fields.hasErrors('child.photo')}" class="text-danger" th:errors="*{child.photo}"></div>
                   
                    <!-- row 3 -->
                    <label for="subCity" class="form-label mt-2">Sub City</label>
                    <input type="text"
                           class="form-control "
                           th:field="*{child.birthAddress.subCity}" 
                           placeholder="Sub City"
                           required        
                    >
                    <div th:if="${#fields.hasErrors('child.birthAddress.subCity')}" class="text-danger" th:errors="*{child.birthAddress.subCity}"></div>
                    
                    <div class="mt-auto">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




        <div class="my-5" th:with="section='mother'" layout:insert="~{client/registration/components/form_accordion.html}"> 
            <div layout:fragment="accordionHeading">Mother's Information</div> 
        
            <div layout:fragment="accordionBody">
        

            <div class=" form-group row  w-100 m-auto d-block d-md-flex">
                <!-- col 1 -->
                <div class="col w-75 m-auto">
                    <label for="M_Name" class="form-label mt-2" >First's Name</label>
                    <input type="text"
                           id="M_Name" 
                           class="form-control "     
                           th:field="*{mother.fullName.firstName}"
                           placeholder="First Name"
                           required
                    >
                    <div th:if="${#fields.hasErrors('mother.fullName.firstName')}" class="text-danger" th:errors="*{mother.fullName.firstName}"></div>

                    <label for="M_grandFatherName" class="form-label mt-2">Grand Father's Name</label>
                    <input type="text"
                           id="M_grandFatherName"
                           class="form-control " 
                           th:field="*{mother.fullName.lastName}"
                           placeholder="Grand Father's Name"
                           required  
                    >
                    <div th:if="${#fields.hasErrors('mother.fullName.LastName')}" class="text-danger" th:errors="*{mother.fullName.lastName}"></div>


                </div>
     
            <div class="col w-75 m-auto">
                <label for="M_fatherName" class="form-label mt-2">Father's Name</label>
                <input type="text"
                       id="M_fatherName"
                       class="form-control "
                       th:field="*{mother.fullName.middleName}"
                       placeholder="Last Name"
                       required   
                >
                <div th:if="${#fields.hasErrors('mother.fullName.middleName')}" class="text-danger" th:errors="*{mother.fullName.middleName}"></div>


        

                <label for="nationalityM" class="form-label mt-2">Nationality</label>
                <select  name="mother.nationality" class="custom-select"  id="nationalityM" required>
                    <option value="">Select</option>
                    <div th:remove="tag" th:each="nationality: ${nationalities}" th:object="${nationality}">
                        <option th:value="*{id}" th:text="*{name}" th:if="*{name}!='Ethiopian'"></option>
                        <option th:value="*{id}" th:text="*{name}" th:if="*{name}=='Ethiopian'" selected></option>
                    </div>
                    <option th:each="nationality: ${nationalities}" th:value="${nationality.id}" th:if="${nationality.name} == 'Ethiopian'" selected>[[${nationality.name}]]</option>
                </select>
                <div th:if="${#fields.hasErrors('mother.nationality')}" class="text-danger" th:errors="*{mother.nationality}"></div>
           
            </div>
    </div>
        
    </div>
</div>




<div class="my-5" th:with="section='mother'" layout:insert="~{client/registration/components/form_accordion.html}"> 
    <div layout:fragment="accordionHeading">Father's Information</div> 

    <div layout:fragment="accordionBody">


    <div class=" form-group row  w-100 m-auto d-block d-md-flex">
        <!-- col 1 -->
        <div class="col w-75 m-auto">
            <label for="M_Name" class="form-label mt-2" >First's Name</label>
            <input type="text"
                   id="M_Name" 
                   class="form-control "   
                   th:field="*{father.fullName.firstName}"
                   placeholder="First Name"
                   required  
            >
            <div th:if="${#fields.hasErrors('father.fullName.firstName')}" class="text-danger" th:errors="*{father.fullName.firstName}"></div>


            <label for="M_grandFatherName" class="form-label mt-2">Grand Father's Name</label>
            <input type="text"
                   id="M_grandFatherName"
                   class="form-control " 
                   th:field="*{father.fullName.lastName}"
                   placeholder="Grand Father's Name"
                   required 
                  
            >
            <div th:if="${#fields.hasErrors('father.fullName.LastName')}" class="text-danger" th:errors="*{father.fullName.lastName}"></div>


        </div>

    <div class="col w-75 m-auto">
        <label for="M_fatherName" class="form-label mt-2">Father's Name</label>
        <input type="text"
               id="M_fatherName"
               class="form-control " 
               th:field="*{father.fullName.middleName}"
               placeholder="Last Name"
               required  

        >
        <div th:if="${#fields.hasErrors('father.fullName.middleName')}" class="text-danger" th:errors="*{father.fullName.middleName}"></div>        


        <label for="nationalityF" class="form-label mt-2">Nationality</label>
                <select  name="father.nationality" class="custom-select"  id="nationalityF" required>
                    <option value="">Select</option>
                    <div th:remove="tag" th:each="nationality: ${nationalities}" th:object="${nationality}">
                        <option th:value="*{id}" th:text="*{name}" th:if="*{name}!='Ethiopian'"></option>
                        <option th:value="*{id}" th:text="*{name}" th:if="*{name}=='Ethiopian'" selected></option>
                    </div>
                    <option th:each="nationality: ${nationalities}" th:value="${nationality.id}" th:if="${nationality.name} == 'Ethiopian'" selected>[[${nationality.name}]]</option>
                </select>
        <div th:if="${#fields.hasErrors('father.nationality')}" class="text-danger" th:errors="*{father.nationality}"></div>
    </div>
    

</div>

</div>
</div>
        <input style="margin-left:75%" class="btn btn-primary form-control form-control-lg mb-lg-4 w-25" type="submit" value="Submit">
    </form>

</main>
    
  
    <script th:src="@{/javascript/bootstrap.min.js}"></script>
</body>

</html>