<div class="col-6 my-4">
	<span class="fw-bold">[[${spouseType}]] First Name: </span>[[${spouse.fullName.firstName}]]
</div>
<div class="col-6 my-4">
	<span class="fw-bold">[[${spouseType}]] Father Name: </span>[[${spouse.fullName.middleName}]]
</div>
<div class="col-6 my-4">
	<span class="fw-bold">[[${spouseType}]] Last Name: </span>[[${spouse.fullName.lastName}]]
</div>
<div class="col-6 my-4">
	<span class="fw-bold">[[${spouseType}]] Nationality: </span>[[${spouse.nationality}]]
</div>
<div class="col-6 my-4">
	<span class="fw-bold">[[${spouseType}]] Date of Birth: </span>[[${spouse.dateOfBirth}]]
</div>

