<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{client/base.html}"
	  >
	<head>
		<title layout-fragment="title">ABOUT</title>

	</head>
	<body>
		<main layout:fragment="main" class="container-fluid m-auto">

			<section class="row bg-primary text-light local-py-7">
		   		<div class="col-12 col-lg-6 d-flex">
					<div class="col-8 col-lg-4 m-auto">
						<img src="/static/lib/libs/core/images/logo-light.png" class="w-100">
					</div>
				</div>
				<div class="col-12 col-lg-6 text-center text-lg-left mt-5 mt-lg-0">
					<div class="col-12 col-lg-9 my-auto">
						<h1 class="fw-bold display-4 text-center text-lg-left">ABOUT</h1>
						<p class="mt-4 text-justify text-lg-left">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit, expedita ex quia sapiente eaque, excepturi earum saepe adipisci aperiam, veniam esse doloribus animi ea tenetur explicabo. Dolorem perspiciatis repudiandae aspernatur. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
					</div>
				  </div>
			</section>

			<section class="row row-cols-2 local-py-8">
				<div class="col-12 col-lg-6">
					<div class="col-12 col-lg-9 m-auto">
						<h2 class="fw-bold display-5 text-center text-lg-left">What is<br/>Wesagn Kunet?</h2>
						<p class="mt-4 text-justify text-lg-left">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit, expedita ex quia sapiente eaque, excepturi earum saepe adipisci aperiam, veniam esse doloribus animi ea tenetur explicabo. Dolorem perspiciatis repudiandae aspernatur. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
					</div>
				</div>
				<div class="col-12 col-lg-6 d-lg-flex d-none">
					<div class="col-12 col-lg-10 my-auto">
						<img src="/static/client/about/images/0.png" class="w-100">
					</div>
				</div>
			</section>

			<section class="row row-cols-2 bg-primary text-light local-py-8">
				<div class="col-12 col-lg-6 d-lg-flex d-none">
					<div class="col-10 m-auto">
						<img src="/static/client/about/images/0.png" class="w-100">
					</div>
				</div>
				<div class="col-12 col-lg-6">
					<div class="col-12 col-lg-9 my-auto">
						<h2 class="fw-bold display-5 text-center text-lg-left">What We Do</h2>
						<p class="mt-4 text-justify text-lg-left">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit, expedita ex quia sapiente eaque, excepturi earum saepe adipisci aperiam, veniam esse doloribus animi ea tenetur explicabo. Dolorem perspiciatis repudiandae aspernatur. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
					</div>
				</div>
			</section>

			<section class="row row-cols-2 local-py-8">
				<div class="col-12 col-lg-6">
					<div class="col-12 col-lg-9 m-auto">
						<h2 class="fw-bold display-5 text-center text-lg-left">Mission</h2>
						<p class="mt-4 text-justify text-lg-left">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit, expedita ex quia sapiente eaque, excepturi earum saepe adipisci aperiam, veniam esse doloribus animi ea tenetur explicabo. Dolorem perspiciatis repudiandae aspernatur. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
					</div>
				</div>
				<div class="col-12 col-lg-6 d-lg-flex d-none">
					<div class="col-12 col-lg-10 my-auto">
						<img src="/static/client/about/images/0.png" class="w-100">
					</div>
				</div>
			</section>
			
			<section class="row row-cols-2 bg-primary text-light local-py-8">
				<div class="col-12 col-lg-6 d-lg-flex d-none">
					<div class="col-10 m-auto">
						<img src="/static/client/about/images/0.png" class="w-100">
					</div>
				</div>
				<div class="col-12 col-lg-6">
					<div class="col-12 col-lg-9 my-auto">
						<h2 class="fw-bold display-5 text-center text-lg-left">Vision</h2>
						<p class="mt-4 text-justify text-lg-left">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit, expedita ex quia sapiente eaque, excepturi earum saepe adipisci aperiam, veniam esse doloribus animi ea tenetur explicabo. Dolorem perspiciatis repudiandae aspernatur. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
					</div>
				</div>
			</section>

			<div class="row mb-0 bg-light local-py-8"> 
				<div class="col-12 col-lg-7 mx-auto text-center">
					<h2 class="fw-bold">STILL HAVE QUESTIONS ?</h2>
					<p>If there is anything unclear and confusing  and also if you need more details on the service we offer contact us</p>

					<a href="/contact" class ="btn btn-outline-primary px-5">
						CONTACT US
					</a>

				</div>
			</div>
		</main>
	</body>
</html>

