<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<title layout-fragment="title">Contact Us</title>
		<meta name="viewport" content="width=device-width, initial-scale=1"> 	
		<link rel="stylesheet" href="contactUs_files/bootstrap_002.css">
		<link rel="stylesheet" href="contactUs_files/bootstrap.css">
		<link rel="stylesheet" href="contactUs_files/all.css">
		<link rel="stylesheet" href="contactUs_files/local.css">
	</head>
	<body class="bg-light">
		<header>
			<nav class="navbar navbar-expand-lg navbar-light bg-light py-md-3 px-xl-5">
				<div class="container-fluid">
					<a class="navbar-brand col-lg-1 col-md-3 col-4 p-0" href="http://localhost:8080/">
						<img src="contactUs_files/logo-primary.png" class="col-8 p-0">
					</a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav me-auto mb-2 mb-lg-0 mt-lg-0 mt-3">
							
						</ul>
						<div class="ml-lg-auto d-flex flex-column flex-lg-row mt-0 mt-lg-0">
						
							<div class="d-lg-flex d-block">
								
								<div class="">
									<div class="bg-primary text-light px-4 py-2 rounded position-relative">
										<span href="#" class="dropdown-toggle" role="button" data-bs-toggle="dropdown"><i class="fa fa-user"></i><span class="ml-3">Aklile Yilma</span></span>
										<ul class="dropdown-menu">
											<li class=""><a href="http://localhost:8080/account/manage" class="dropdown-item">Manage Account</a></li>
											<li class=""><a href="http://localhost:8080/account/certificates" class="dropdown-item">My Certificates</a></li>
											<li class="">
												<form action="/logout" method="post">
													<input type="hidden" name="_csrf" value="ab624788-c371-43aa-a59f-f7f14917d193">
													<input type="submit" value="Logout" class="dropdown-item">
												</form>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</nav>
		</header>
		
		<main class="container-fluid m-auto">
        <h1 class="text-center m-5">CONTACT US</h1>
 

        <div class="form-row  d-block d-md-flex">
            <div class="border border-dark rounded local-br-3 p-lg-5 col-10  col-lg-5 m-auto ml-md-5">
                <h2 class="text-center ">Contact info</h2>
                <div class=" d-flex">
                    <h5 class="ml-lg-5">Phone Number </h5>  <a href="tel:+2519116112233" class="text-right ml-auto">+2519116112233</a>
                </div>

                <div class=" d-flex">
                    <h5 class="ml-lg-5">E-Mail</h5>  <a href="mailto:wesagnkunet.gov@gmail.com" class="text-right ml-auto">contact@wesagnkunet.gov.et</a>
                </div>

                <div class="d-flex">
                    <h5 class="ml-lg-5">Address</h5>  <p class="text-right ml-auto">Bole S/C BLDG, Megenagna, Addis Ababa, Ethiopia</p>
                </div>
                  
            </div>
    
            <div class="mapouter border-dark col-6 m-lg-auto mt-5 mb-5">
                    <div class="gmap_canvas">
                    <iframe id="gmap_canvas" src="https://maps.google.com/maps?q=AAiT&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed" scrolling="no" marginheight="0" marginwidth="0" width="100%" height="100%" frameborder="0">
                </iframe>
                <a href="https://www.whatismyip-address.com/divi-discount/"></a>
                <br>
                <style>.mapouter{position:relative;text-align:right;height:500px;width:600px;          
                }
                        .gmap_canvas{margin:auto;}
                </style>
                <a href="https://www.embedgooglemap.net/">google maps for web site</a>
                <style>.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}
                </style>
                </div>
            </div>

        </div>


        <div class="row d-block d-md-flex m-5 local-mt-8">

        <div class="col-lg-5 text-center mb-5">
            <h2>Have Some Questions?</h2>
            <p>Fill out this form and we'll reply as fast as possible</p>
            <div class="m-auto">
                <i class="fas fa-envelope-open fa-10x text-primary"></i>
            </div>
         
        </div>

        <form class="col-lg-5 border border-dark bg-gray p-lg-5 ml-lg-auto ">
            
                <div class="form-row">
                    <div class="col rounded">
                        <label for="firstName" class="form-label mt-2">First Name</label>
                        <input type="text" id="firstName" class="form-control w-20">
                    </div>
        
                    <div class="col">
                        <label for="lastName" class="form-label mt-2">Last Name</label>
                        <input type="text" id="lastName" class="form-control w-20">
                    </div>
    
                </div>
    
                <div class="form-group">
                    <label for="phoneNumber" class="form-label">Phone number</label>
                    <input type="text" id="phoneNumber" class="form-control">
                </div>
    
                <div class="form-group">
                    <label for="email" class="form-label">E-Mail</label>
                    <input type="text" id="email" class="form-control">
                </div>
    
                <div class="form-group">
                    <label for="message" class="form-label">Message</label>
                    <textarea class="form-control" id="message" rows="5" style="resize: none;"></textarea>
                </div>

                
                    <button type="submit" style="width: 30%; height: 10%;" class="btn btn-primary form-control m-3 ">Submit</button>
                
              
            
        </form>
     

 </div>
    </main>
		
		<footer class="bg-primary text-light container-fluid">
			<div class="row p-md-5 p-3">
				<div class="col-md-3 col-12 d-none d-md-block">
					<div class="col-4 p-0">
						<img src="contactUs_files/logo-light.png" class="w-100">
					</div>
					<p class="mt-3">Lorem ipsum dolor sit amet, consectetur adipisicing
 elit. Ipsum alias voluptas, est necessitatibus pariatur ducimus natus, 
earum fugit voluptatem!</p>
				</div>

				<div class="col-md-2 mx-auto col-6 mt-5 mt-md-0">
					<h5 class="font-weight-bold">Userful Links</h5>
					<ul class="nav nav-dark flex-column my-lg-auto pt-4">
						
					</ul>
				</div>

				<div class="col-md-2 mx-auto col-6 mt-5 mt-md-0">
					<h5 class="font-weight-bold">Services</h5>
					<ul class="nav nav-dark flex-column my-lg-auto pt-4">
						
					</ul>
				</div>
				
				<form class="col-md-3 col-12 px-md-5 px-0 mt-5 mt-md-0" action="/newsletter/subscribe">
					
					<h4 class="font-weight-bold">Subscribe to our Newsletter</h4>
					
					<input type="email" name="email" class="form-control bg-transparent mt-3" placeholder="email@example.com">
					<input type="submit" value="SUBSCRIBE" class="btn btn-light mt-2 px-4">

				</form>
			</div>
			<div class="text-center mt-3">
				Copyright © 2021 | Wesagn Kunet
			</div>
		</footer>
		<script src="contactUs_files/bootstrap.js"></script>
	

</body></html>