<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{client/base.html}">

<head>
    <title layout:fragment="title">WELCOME TO WESAGN KUNET</title>
</head>

<body>

    <main layout:fragment="main" class="container-fluid">
        <div class="row">
            <div class="col-6 local-px-7 local-py-7 ">
                <img src="/static/client/home/images/cartoon.png" class="w-100">
            </div>
            <div class="col-6 my-auto local-pr-8">
                <h1 class="font-weight-bold">WELCOME TO<br/>WESAGN KUNET</h1>
                <p class="my-5">Lorem ipsum dolor sit amet consectetur adi Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus soluta corporis repudiandae iusto, magnam nemo, eaque sunt tenetur iure dolorum optio commodi quos mollitia obcaecati voluptate
                    omnis quod eos debitis? pisicing elit. Deleniti voluptatibus nulla beatae reprehenderit blanditiis dignissimos in quas eum sapiente. Debitis eveniet accusantium ipsum ab. Labore natus molestiae assumenda officia esse?</p>
                <a href="#services" class="btn btn-primary font-weight-bold px-4 py-3">APPLY FOR A CERTIFICATE</a>
            </div>
        </div>

        <!-- <div class="row">
            <h2 class="font-weight-bold">SERVICES</h2>
            <div class="row">
                <div class="col-4 px-5">
                    <div class="rounded local-br-2 shadow-lg bg-white">
                        <div class="w-100 overflow-hidden">
                            <img src="/static/client/home/images/stork.jpg" class="w-100">
                        </div>
                    </div>
                </div>
                <div class="col-4 bg-danger">
                    hello
                </div>
                <div class="col-4 bg-danger">
                    hello
                </div>
            </div>
        </div>

    </main>
</body> -->

        <div class="row col-11 mx-auto local-mt-7" id="services">
            <h2 class="font-weight-bold">SERVICES</h2>
            <div class="row mt-5">
                <div class="col-4 d-flex">
                    <div class="rounded local-br-2 shadow-lg bg-white p-4 col-11 mr-auto">
                        <div class="w-100 overflow-hidden px-5">
                            <img src="/static/client/home/images/stork.png" class="w-100">
                        </div>
                        <h2 class="mt-4">Birth Certificate</h2>
                        <p class="mt-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit optio aliquam voluptatem, quidem tenetur voluptate est voluptas praesentium error illo nostrum pariatur dolores ipsa voluptatum fugit soluta explicabo repellendus
                            maiores!</p>
                        <button class="w-100 btn btn-outline-primary mt-4">LEARN MORE</button>
                        <a href="/client/registration/birth/" class="w-100 btn btn-primary mt-2">APPLY NOW</a>
                    </div>
                </div>
                <div class="col-4 d-flex">
                    <div class="rounded local-br-2 shadow-lg bg-white p-4 col-11 mx-auto">
                        <div class="w-100 overflow-hidden px-5">
                            <img src="/static/client/home/images/marriage.png" class="w-100">
                        </div>
                        <h2 class="mt-4">Birth Certificate</h2>
                        <p class="mt-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit optio aliquam voluptatem, quidem tenetur voluptate est voluptas praesentium error illo nostrum pariatur dolores ipsa voluptatum fugit soluta explicabo repellendus
                            maiores!</p>
                        <button class="w-100 btn btn-outline-primary mt-4">LEARN MORE</button>
                        <a href="/client/registration/birth/" class="w-100 btn btn-primary mt-2">APPLY NOW</a>
                    </div>
                </div>
                <div class="col-4 d-flex">
                    <div class="rounded local-br-2 shadow-lg bg-white p-4 col-11 ml-auto">
                        <div class="w-100 overflow-hidden px-5">
                            <img src="/static/client/home/images/casket.png" class="w-100">
                        </div>
                        <h2 class="mt-4">Birth Certificate</h2>
                        <p class="mt-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit optio aliquam voluptatem, quidem tenetur voluptate est voluptas praesentium error illo nostrum pariatur dolores ipsa voluptatum fugit soluta explicabo repellendus
                            maiores!</p>
                        <button class="w-100 btn btn-outline-primary mt-4">LEARN MORE</button>
                        <a href="/client/registration/birth/" class="w-100 btn btn-primary mt-2">APPLY NOW</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row local-mt-6 bg-primary py-5 local-px-7 text-light">
            <h2 class="font-weight-bold">Check out Some Stats</h2>
            <div class="mt-5 row">

                <div class="col-3 p-5">
                    <div class="rounded-circle bg-light text-primary text-center d-flex mx-auto" style="width: 10em; height: 10em;">
                        <span class="m-auto local-fs-3 font-weight-bold mx-auto">
								32000
							</span>
                    </div>
                    <h3 class="font-weight-bold text-center mt-4">
                        Birth Certificates Issued
                    </h3>
                </div>
                <div class="col-3 p-5">
                    <div class="rounded-circle bg-light text-primary text-center d-flex mx-auto" style="width: 10em; height: 10em;">
                        <span class="m-auto local-fs-3 font-weight-bold mx-auto">
								32000
							</span>
                    </div>
                    <h3 class="font-weight-bold text-center mt-4">
                        Birth Certificates Issued
                    </h3>
                </div>
                <div class="col-3 p-5">
                    <div class="rounded-circle bg-light text-primary text-center d-flex mx-auto" style="width: 10em; height: 10em;">
                        <span class="m-auto local-fs-3 font-weight-bold mx-auto">
								32000
							</span>
                    </div>
                    <h3 class="font-weight-bold text-center mt-4">
                        Birth Certificates Issued
                    </h3>
                </div>
                <div class="col-3 p-5">
                    <div class="rounded-circle bg-light text-primary text-center d-flex mx-auto" style="width: 10em; height: 10em;">
                        <span class="m-auto local-fs-3 font-weight-bold mx-auto">
								32000
							</span>
                    </div>
                    <h3 class="font-weight-bold text-center mt-4">
                        Birth Certificates Issued
                    </h3>
                </div>


            </div>
        </div>

        <div class="row local-my-7 local-px-7 ">
            <h2 class="font-weight-bold">Learn More about Digital Certificate</h2>
            <h3 class="font-weight-bold mt-5">What are Digital Certificates</h3>
            <p class="mt-4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam perspiciatis assumenda molestiae reiciendis, ipsam iure? Tempore officia accusamus temporibus atque facere dignissimos, adipisci explicabo natus quisquam consequatur architecto
                facilis rem! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad, molestiae provident atque, perspiciatis explicabo maiores eligendi pariatur nam, ex cupiditate impedit adipisci iste nisi aut in excepturi ab dignissimos culpa?Lorem
                ipsum dolor sit amet consectetur adipisicing elit. Illum ipsam dolore expedita nostrum a libero, exercitationem fugit? Totam alias rem possimus impedit corporis quo quia, modi ullam eaque fuga Lorem ipsum dolor sit amet consectetur, adipisicing
                elit. Cumque illum quis eligendi esse non assumenda animi omnis ipsam maiores. Et deserunt tempora natus in eum sunt voluptas? Libero, exercitationem ></p>
            <div class="mt-4">
                <a href="" class="btn btn-primary px-5">READ MORE</a>
            </div>
        </div>
    </main>
</body>

</html>