<div class="row">
	<div class="col-6">Country</div>
	<div class="col-6">[[${address.country}]]</div>
</div>
<div class="row">
	<div class="col-6">City</div>
	<div class="col-6">[[${address.city}]]</div>
</div>
<div class="row">
	<div class="col-6">Sub-City</div>
	<div class="col-6">[[${address.subCity}]]</div>
</div>
<div class="row">
	<div class="col-6">Wereda</div>
	<div class="col-6">[[${address.wereda}]]</div>
</div>
<div class="row">
	<div class="col-6">House Number</div>
	<div class="col-6">[[${address.houseNumber}]]</div>
</div>