<div class="row py-3 border-bottom">
	<div class="col-6 fw-bold">Country</div>
	<div class="col-6">[[${address.country}]]</div>
</div>
<div class="row py-3 border-bottom">
	<div class="col-6 fw-bold">City</div>
	<div class="col-6">[[${address.city}]]</div>
</div>
<div class="row py-3 border-bottom">
	<div class="col-6 fw-bold">Sub-City</div>
	<div class="col-6">[[${address.subCity}]]</div>
</div>
<div class="row py-3 border-bottom">
	<div class="col-6 fw-bold">Wereda</div>
	<div class="col-6">[[${address.wereda}]]</div>
</div>
<div class="row py-3 border-bottom">
	<div class="col-6 fw-bold">House Number</div>
	<div class="col-6">[[${address.houseNumber}]]</div>
</div>