<div class="row py-3 border-bottom">
	<div class="col-6 fw-bold">
		[[${parentType}]] First Name
	</div>
	<div class="col-6">
		[[${parent.fullName.firstName}]]
	</div>
</div>
<div class="row py-3 border-bottom">
	<div class="col-6 fw-bold">
		[[${parentType}]] Middle Name
	</div>
	<div class="col-6">
		[[${parent.fullName.middleName}]]
	</div>
</div>
<div class="row py-3 border-bottom">
	<div class="col-6 fw-bold">
		[[${parentType}]] Last Name
	</div>
	<div class="col-6">
		[[${parent.fullName.lastName}]]
	</div>
</div>
<div class="row py-3 border-bottom">
	<div class="col-6 fw-bold">
		[[${parentType}]] Nationality
	</div>
	<div class="col-6">
		[[${parent.nationality}]]
	</div>
</div>