<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<title layout:fragment="title">WESAGN KUNET</title>
		<meta name="viewport" content="width=device-width, initial-scale=1"> 	
		<link rel="stylesheet" th:href="@{/static/lib/libs/bootstrap/bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{/static/lib/libs/fontawesome/css/all.css}">
		<link rel="stylesheet" th:href="@{/static/lib/libs/local/local.css}">
	</head>
	<body class="bg-light">
		<header>
			<nav class="navbar navbar-expand-lg navbar-light bg-light py-md-3 px-xl-5">
				<div class="container-fluid">
					<a class="navbar-brand col-lg-1 col-md-3 col-4 p-0" href="/" >
						<img th:src="@{/static/lib/libs/core/images/logo-primary.png}" class="col-8 p-0">
					</a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav me-auto mb-2 mb-lg-0 mt-lg-0 mt-3">
							<li class="nav-item mr-4" th:each="tab: ${headerTabs}" th:classappend="${tab.childrenTabs.size !=0 } ? dropdown">

								<a th:if="${tab.childrenTabs.size == 0 }" class="nav-link" th:href="${tab.url}" th:text="${tab.text}"></a>

								<a th:if="${tab.childrenTabs.size != 0}" class="nav-link dropdown-toggle" id="servicesDropdown" role="button" data-bs-toggle="dropdown" th:href="${tab.url}" th:text="${tab.text}"></a>
								<ul th:if="${tab.childrenTabs.size != 0}" class="dropdown-menu" aria-labelledby="servicesDropdown">
									<li th:each="child: ${tab.childrenTabs}"><a class="dropdown-item" th:href="${child.url}" th:text="${child.text}">Action</a></li>
								</ul>

							</li>
						</ul>
						<div class="ml-lg-auto d-flex flex-column flex-lg-row mt-0 mt-lg-0">
						
							<div class="d-lg-flex d-block">
								<div class="d-flex flex-column flex-lg-row mt-3 my-lg-auto" th:if="${client}==null">
									<a href="/auth/login" class="btn btn-outline-primary px-4 mx-3">LOGIN</a>
									<a href="/auth/sign-up" class="btn btn-primary px-4 mx-3 mt-lg-0 mt-2">SIGNUP</a>
								</div>
								<div class="" th:if="${client}!=null">
									<div class="bg-primary text-light px-4 py-2 rounded position-relative">
										<span href="#" class="dropdown-toggle" role="button" data-bs-toggle="dropdown"><i class="fa fa-user"></i><span class="ml-3" th:text="${client.fullName}"></span></span>
										<ul class="dropdown-menu">
											<li class=""><a href="/account/manage" class="dropdown-item">Manage Account</a></li>
											<li class=""><a href="/account/certificates" class="dropdown-item">My Certificates</a></li>
											<li class=""><a href="/logout" class="dropdown-item">Logout</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</nav>
		</header>
		
		<main layout:fragment="main"></main>
		
		<footer class="bg-primary text-light container-fluid">
			<div class="row p-md-5 p-3">
				<div class="col-md-3 col-12 d-none d-md-block">
					<div class="col-4 p-0">
						<img th:src="@{/static/lib/libs/core/images/logo-light.png}" class="w-100">
					</div>
					<p class="mt-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum alias voluptas, est necessitatibus pariatur ducimus natus, earum fugit voluptatem!</p>
				</div>

				<div class="col-md-2 mx-auto col-6 mt-5 mt-md-0">
					<h5 class="font-weight-bold">Userful Links</h5>
					<ul class="nav nav-dark flex-column my-lg-auto pt-4">
						<li class="nav-item" th:each="tab: ${footerTabs}">
							<a class="nav-link text-light px-0" th:href="${tab.url}" th:text="${tab.text}"></a>
						</li>
					</ul>
				</div>

				<div class="col-md-2 mx-auto col-6 mt-5 mt-md-0">
					<h5 class="font-weight-bold">Services</h5>
					<ul class="nav nav-dark flex-column my-lg-auto pt-4">
						<li class="nav-item" th:each="tab: ${footerTabsServices}">
							<a class="nav-link text-light px-0" th:href="${tab.url}" th:text="${tab.text}"></a>
						</li>
					</ul>
				</div>
				
				<form class="col-md-3 col-12 px-md-5 px-0 mt-5 mt-md-0" action="/newsletter/subscribe">
					
					<h4 class="font-weight-bold">Subscribe to our Newsletter</h4>
					
					<input type="email" name="email" class="form-control bg-transparent mt-3" placeholder="email@example.com">
					<input type="submit" value="SUBSCRIBE" class="btn btn-light mt-2 px-4">

				</form>
			</div>
			<div class="text-center mt-3">
				Copyright &copy; 2021 | Wesagn Kunet
			</div>
		</footer>
		<script th:src="@{/static/lib/libs/bootstrap/bootstrap.bundle.min.js}"></script>
	</body>


</html>