<div class="mt-3 col-4">
	<label for="country" class="form-label mb-1">Country</label>
	<select th:name="${fieldName} + '.country'" id="country" class="form-select form-control bg-transparent" required>
		<option value="">Select</option>
		<option th:each="country: ${countries}" th:value="${country.id}">[[${country.name}]]</option>
	</select>
	<div th:if="${#fields.hasErrors(fieldName + '.country')}" class="text-danger" th:errors="*{address.country}"></div>
</div>

<div class="mt-3 col-4">
	<label for="city" class="form-label mb-1">City</label>
	<div class="input-group">
		<span class="input-group-text bg-light border-right-0"><i class="fas fa-user-alt text-secondary"></i></span>
		<input type="text" class="form-control border-left-0 bg-light" th:name="${fieldName} + '.city'" placeholder="City" required>
	</div>
	<div th:if="${#fields.hasErrors(fieldName + '.city')}" class="text-danger" th:errors="*{address.city}"></div>
</div>

<div class="mt-3 col-4">
	<label for="subCity" class="form-label mb-1">Sub City</label>
	<div class="input-group">
		<span class="input-group-text bg-light border-right-0"><i class="fas fa-user-alt text-secondary"></i></span>
		<input type="text" class="form-control border-left-0 bg-light" th:name="${fieldName} + '.subCity'" placeholder="Sub City" required>
	</div>
	<div th:if="${#fields.hasErrors(fieldName + '.subCity')}" class="text-danger" th:errors="*{address.subCity}"></div>
</div>

<div class="mt-3 col-4">
	<label for="wereda" class="form-label mb-1">Wereda</label>
	<div class="input-group">
		<span class="input-group-text bg-light border-right-0"><i class="fas fa-user-alt text-secondary"></i></span>
		<input type="number" class="form-control border-left-0 bg-light" th:name="${fieldName} + '.wereda'" id="wereda" placeholder="Wereda" required>
	</div>
	<div th:if="${#fields.hasErrors(fieldName + '.wereda')}" class="text-danger" th:errors="*{address.wereda}"></div>
</div>

<div th:if="${includeHouseNumber}" class="mt-3 col-4">
	<label for="houseNumber" class="form-label mb-1">House Number</label>
	<div class="input-group">
		<span class="input-group-text bg-light border-right-0"><i class="fas fa-user-alt text-secondary"></i></span>
		<input type="number" class="form-control border-left-0 bg-light" th:name="${fieldName} + '.houseNumber'" placeholder="House Number">
	</div>
	<div th:if="${#fields.hasErrors(fieldName + '.houseNumber')}" class="text-danger" th:errors="*{address.houseNumber}"></div>
</div>

