<div class="accordion" th:id="${section}+'Accordion'">
	<div class="accordion-item">
		<h2 class="accordion-header" th:id="${section}+'Header'">
			<button class="accordion-button" type="button" data-bs-toggle="collapse" th:data-bs-target="'#'+${section}+'Collapse'" aria-expanded="true" th:aria-controls="${section}+'Collapse'">
				<div layout:fragment="accordionHeading">Heading</div>
			</button>
	  	</h2>
		<div th:id="${section}+'Collapse'" class="accordion-collapse collapse show" th:aria-labelledby="${section}+'Heading'" th:data-bs-parent="${'#'}+${section}+'Accordion'">
			<div class="accordion-body">
				<div layout:fragment="accordionBody">
					Body
				</div>
			</div>
		</div>
	</div>
</div>