<!DOCTYPE html>
<html	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{admin/dashboard/base.html}"
	  >
	  <head>
		  <title layout:fragment="title">MARRIAGE REGISTRATION REQUESTS</title>
	  </head>
	<body th:with="currentTab='Marriage Certificates'">
		
		<main layout:fragment="main">
			<div class="container-fluid">
				<div class="row">
					<div class="">
						<h1 class="local-fs-3 font-weight-bold text-center mb-5">Marriage Requests</h1>
					</div>
				</div>
				
				<div class="my-5">
					<div class="h-100 w-100 d-flex">
						<h4 class="text-muted m-auto">There are no new requests.</h4>

					</div>
					<div class="row h4 fw-bold mb-5" th:if="${marriageRequests.size()}!=0">
						<div class="col-4">
							Applier
						</div>
						<div class="col-4">
							Date
						</div>
						<div class="col-4">

						</div>
					</div>
					<div class="row border-bottom py-4" th:each="request: ${marriageRequests}">
						<div class="col-4 my-auto">
							[[${request.certificateRequestDetails.client.fullName}]]
						</div>
						<div class="col-4 my-auto">
							[[${request.certificateRequestDetails.applicationDate}]]
						</div>
						<div class="col-4 my-auto d-flex">
							<button type="button" class="btn btn-outline-danger rounded rounded-pill ml-auto px-5 py-2 mx-auto" data-bs-toggle="modal" th:data-bs-target="${'#marriageModal'+request.id}">
								VIEW
							</button>
							
							<div class="modal fade text-dark" th:id="${'marriageModal'+request.id}" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title">Details</h5>
												<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
										</div>
										<div class="modal-body">
											<div class="container-fluid">
												<div th:with="address=${request.marriageAddress}" th:remove="tag" layout:insert="~{admin/dashboard/components/address_view.html}">
												</div>
												<div class="row">
													<div class="col-6">
														Marriage Date
													</div>
													<div class="col-6">
														[[${request.marriageDate}]]
													</div>
												</div>
												<div th:with="spouse=${request.wife}" th:remove="tag">
													<div th:with="spouseType='Wife'" layout:insert="~{admin/dashboard/components/spouse_view.html}" th:remove="tag"></div>
												</div>
												<div th:with="spouse=${request.husband}" th:remove="tag">
													<div th:with="spouseType='Husband'" layout:insert="~{admin/dashboard/components/spouse_view.html}" th:remove="tag"></div>
												</div>
											

											</div>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
											<form class="" method="post" action="" th:object="${marriageApprovalForm}">
												<input type="hidden" th:value="${_csrf.token}" name="_csrf">
												<input type="hidden" value="false" name="approved">
												<input type="hidden" th:value="${request.id}" name="request">
												<button type="submit" class="btn btn-danger">Delete</button>
											</form>
											<form class="" method="post" action="" th:object="${marriageApprovalForm}">
												<input type="hidden" th:value="${_csrf.token}" name="_csrf">
												<input type="hidden" value="true" name="approved">
												<input type="hidden" th:value="${request.id}" name="request">
												<button type="submit" class="btn btn-success">Approve</button>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				
			</div>

		</main>

	</body>

</html>